body
{
	background-image: url(bkground.jpg);
	font-family: Verdana;
    font-size: 11px;
	/**margin-left:auto;
	margin-right:auto;*/
	width:70%;
}
#wrapper
{
	margin-left: auto;
	margin-right: auto;
	width: 760px;
	background-color: #FFF0F5;
	border-radius: 12px; 
	padding: 12px;
}

#HEADER
{
	text-align: center;	
	background-color: #669933;
	padding: 1px;
	border-radius: 12px 12px 0 0; 
	padding-top: 20px;
	margin-bottom: 20px;
	
}	

nav
{
	text-align: center;	
	background-color: red;
	padding: 1px;
	border-radius: 12px 12px 12px 12px; 
	padding-top: 20px;
	margin-top:10px;
	
}

nav ul
{
	padding: 0 10px 0 0;
}

nav a
{
	
	color: black;
	background-color: #FAEBD7;
	padding: 5px;
	border:1px solid white;
	text-decoration: none;
}
a{
	text-decoration: none;
	color: black;
}
nav ul li
{
	list-style: none;
	text-align: center;
	padding: 1px;
}
nav li :hover
{
	background-color: white;
	color: brown;
}

img
{
	width: 100%;
    height: auto;
}

#PICS
{
	
	BACKGROUND-COLOR: YELLOW;
	text-align: center;	
	padding: 1px;
	border-radius: 12px 12px 12px 12px; 
	padding-top: 20px;
	margin-top: 20px;
}

/**#CONTENT
{
	MARGIN-LEFT:AUTO;
	MARGIN-RIGHT:AUTO;
	
	BACKGROUND-COLOR:GREEN;
}*/

#FOOTER
{
	clear: both;
	text-align: center;	
	BACKGROUND-COLOR: #00FFFF;
		text-align: center;	
	
	padding: 1px;
	border-radius: 0 0 12px 12px; 
	padding-top: 20px;
	margin-top: 20px;
}
/**  TABLE design ContactUs 
form
{
    color:#000000;
    font:14px Georgia, serif;
    padding:0px;
	border-collapse:collapse;
	width: 70%;
	
}**/
 




/** end of TABLE design ContactUs **/

  #CONTENT{
	text-align: center;	
	background-color: pink;
	padding: 1px;
	border-radius: 12px 12px 12px 12px; 
	padding-top: 20px;
	margin-top: 20px;
  }
#log {
    margin-bottom: 0;
	/**margin-left:40px;*/
  }
  

  a {
    color: #000;
    text-decoration: underline;
    cursor: pointer;
  }
  
  #toolbar [data-wysihtml5-action] {
	border:2px solid black;
  }
    #toolbar [data-wysihtml5-action]:hover {
	background-color:#FFFFFF;
  }

  #toolbar,
  textarea {
    width: 700px;
    padding: 1px;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	margin-top: 15px;
	padding-left: 15px;
	
	
  }
  
  textarea {
    height: 280px;
    border: 2px solid black;
    font-family: Verdana;
    font-size: 11px;
  }
  
  textarea:focus {
    color: black;
    border: 2px solid black;
  }
  .buttons{
	margin-left: 10px;
  }
  .wysihtml5-command-active {
    font-weight: bold;
  }
  
  [data-wysihtml5-dialog] {
    padding: 5px;
    border: 1px solid #666;
  }
  
  a[data-wysihtml5-command-value="red"] {
    color: red;
  }
  
  a[data-wysihtml5-command-value="green"] {
    color: green;
  }
  
  a[data-wysihtml5-command-value="blue"] {
    color: blue;
  }
